@charset "utf-8";
.contact{
    padding: 120px 0 60px;
    background-image: url(images/photo-mado.jpg);
    background-size: cover;
}
.contact-title{
    margin-bottom: 15px;
    margin-top: 30px;
}
.contact-form h3{
    margin-top: 20px;
    margin-bottom: 5px;
    color: darkgrey;
}
input,textarea{
    font-size: 15px;
    width: 400px;
    padding: 2px 4px;
}
.submit-button{
    margin-top: 20px;
    font-size: 18px;
    width: 80px;
    margin-bottom: 150px;
}
