@charset "utf-8";
.music-top{
    padding: 90px 0 60px;
    color:white;
}
.music-card{
    width: 50%;
    margin-top: 35px;
    margin-bottom:40px; 
    background-image: url(images/photo-kuchibashi.JPG);
    background-size: cover;
}
.music-card-inner{
    padding: 30px 35px;
    text-align: center;
    margin: 30px;
}
.music{
    width: 100%;
    margin-bottom: 30px;
}
.music-title{
    margin-bottom: 8px;
}
.artist{
    font-size: 22px;
}
a{
    font-size: 14px;
    color: cornflowerblue;
}
.music-card-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.music-text{
    font-size: 18px;
    margin-top: 10px;
}
.music-text{
    color: steelblue;
}
.top-text{
    color: black;
}