@charset "utf-8";
.photo{
    padding: 90px 0 60px;
    color: black;
}
.photo-card{
    width: 33%;
    margin-top: 35px;
}
.photo-card-inner{
    padding: 10px 10px;
    background-color: #dddddd;
    text-align: center;
    margin: 20px;
}
.films{
    width: 100%;
    margin-bottom: 20px;
}
.photo-title{
    margin-bottom: 8px;
}
.photo-text{
    font-size: 14px;
}
.photo-card-wrapper{
    display: flex;
    flex-wrap: wrap;
}
h4{
    opacity: 0.8;
}
